<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <a class="sidenav-link" [routerLink]="['/data-table']">
      <mat-icon mat-list-icon>account_balance</mat-icon>
      <span class="title" mat-line>Data Table</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a class="sidenav-link" [routerLink]="['/add-user']">
      <mat-icon>person_add</mat-icon>
      <span>Add User</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a class="sidenav-link" [routerLink]="['/maps']">
      <mat-icon>map</mat-icon>
      <span>Google Maps</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>Web Viewer</mat-grid-tile>
  <mat-grid-tile>
    <a class="sidenav-link" [routerLink]="['/video-viewer']">
      <mat-icon mat-list-icon>play_circle_outline</mat-icon>
      <span>Viedo Viewer</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>Image Viewer</mat-grid-tile>
  <mat-grid-tile>PDF Viewer</mat-grid-tile>
  <mat-grid-tile>Chat Box</mat-grid-tile>
</mat-grid-list>
