<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav">
    <mat-toolbar color="primary">
      <!--future svg to go here-->
      <span class="toolbar-filler"></span>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        class="mat-icon-button sidenav-toggle-button"
        [hidden]="!sidenav.opened"
      >
        <mat-icon aria-label="Menu" class="material-icons"
          >keyboard_arrow_left</mat-icon
        >
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        class="sidenav-link"
        [routerLink]="['/login']"
        (click)="sidenav.toggle()"
        *ngIf="!isLoggedIn()"
      >
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <span class="title" mat-line>{{ getName() }}</span>
      </a>
      <a
        mat-list-item
        class="sidenav-link"
        [routerLink]="['/data-table']"
        (click)="sidenav.toggle()"
        *ngIf="isLoggedIn()"
      >
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <span class="title" mat-line>Data Table</span>
      </a>
      <a
        mat-list-item
        class="sidenav-link"
        [routerLink]="['/add-user']"
        (click)="sidenav.toggle()"
        *ngIf="isLoggedIn()"
      >
        <mat-icon mat-list-icon>person_add</mat-icon>
        <span class="title" mat-line>Add User</span>
      </a>
      <a
        mat-list-item
        class="sidenav-link"
        [routerLink]="['/maps']"
        (click)="sidenav.toggle()"
        *ngIf="isLoggedIn()"
      >
        <mat-icon mat-list-icon>map</mat-icon>
        <span class="title" mat-line>Maps</span>
      </a>
      <a
        mat-list-item
        class="sidenav-link"
        [routerLink]="['/video-viewer']"
        (click)="sidenav.toggle()"
        *ngIf="isLoggedIn()"
      >
        <mat-icon mat-list-icon>play_circle_outline</mat-icon>
        <span class="title" mat-line>Viedo Viewer</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar" color="primary">
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      class="mat-icon-button sidenav-toggle-button"
      [hidden]="sidenav.opened"
    >
      <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <h1 class="component-title">
      <a class="title-link" (click)="onTitleClick()">{{ title }}</a>
    </h1>
    <span class="toolbar-filler"></span>
    <button id="button-login" mat-button [routerLink]="['/login']">
      <mat-icon aria-label="Menu" class="material-icons"
        >perm_identity</mat-icon
      >
      {{ getName() }}
    </button>

    <button
      id="button-logout"
      mat-icon-button
      (click)="logout()"
      class="mat-icon-button"
      *ngIf="isLoggedIn()"
    >
      <mat-icon aria-label="Menu" class="material-icons"
        >power_settings_new</mat-icon
      >
      Logout
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>

<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-toolbar color="primary">
   <mat-toolbar-row>
      <span><a href="/">HOME</a></span>
      <span class="spacer"></span>
      <a  mat-button  routerLink="/register">Register</a>
      <a  mat-button  routerLink="/login">Login</a>
   </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet> -->
